<table>
  <% if @range == "User" %>
    <h1>Users seach for "<%= @word %>"</h1>
    <!--<tbody>-->
    <!--  % @users.each do |user| %>-->
    <!--    <tr>-->
    <!--      <td>%= user.name %></td>-->
    <!--    </tr>-->
    <!--  % end %>-->
    <!--</tbody>-->
    <%= render 'users/index', users: @users %>
  <% else %>
    <h1>Books seach for "<%= @word %>"</h1>
    <!--<tbody>-->
    <!--  % @books.each do |book| %>-->
    <!--    <tr>-->
    <!--      <td>%= book.title %></td>-->
    <!--      <td>%= book.body %></td>-->
    <!--    </tr>-->
    <!--  % end %>-->
    <!--</tbody>-->
    <%= render 'books/index', books: @books %>
  <% end %>
</table>