<div class="container">
  <div class="row mt-2 mb-3">
    <div class="col-3">
      <h3><mark class="bg-light">会員一覧</mark></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th>会員ID</th>
          <th><u>氏名</u></th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><u><%= link_to customer.full_name, admin_customer_path(customer), class: "text-dark" %></u></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
             <p class="text-success">有効</p>
            <% else %>
             <p class="text-danger">退会</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>