<div class="container-fluid">
  <div class="row offset-1 mt-3 mb-5">
    <h5><mark class="bg-light">ジャンル編集</mark></h5>
  </div>
  <div class="offset-1">
   <%= render 'form', genre: @genre %>
  </div>
</div>