<div class="container-fluid">
  <div class="row offset-1 mt-3 mb-5">
    <h5><mark class="bg-light">ジャンル一覧・追加</mark></h5>
  </div>

   <%= render 'form', genre: @genre %>

  <div class="col-lg-4 mt-5 ml-5">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th class="text-center">ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td class="text-center align-middle"><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success" %></td>
        </tr>
         <% end %>
      </tbody>
    </table>
  </div>
</div>

