* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-box {
  width: 960px;
  margin: 50px auto;
}

.list {
  list-style: none;
}

.list-text {
  padding: 20px;
}

.list-text:nth-child(odd) {
  background-color: grey;
}

.box-e {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

#ore {
  background-color: orange;
}

.m {
  margin-top: 40px;
  margin-bottom: 40px;
}

.c {
  margin-left: 5%;
  margin-right: 5%;
}
