<div class='card'>
  <h6 class="card-header bg-white text-center font-weight-bold">ジャンル検索</h6>
  <div class=" h-75 card-body">
    <% genres.each do |genre| %>
      <%= link_to genre.name, item_search_path(genre), class: "text-dark" %><br>
    <% end %>
  </div>
</div>