<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-8 mx-auto">
      <strong class="display-2">About</strong>
      <div>
        <p class="text-monospace">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>

    </div>
  </div>
</div>
