* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 550px;
}

.header-top {
  width: 100%;
  height: 50px;
  background-color: red;
}

.header-bottom {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: palegreen;
}

.main-content {
  width: 500px;
  height: 1400px;
  background-color: green;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
